<div class="project">
  <div class="masthead">
    <div class="jumbotron">
      <div class="container">
        <h1 class="project-name">
          <%= project.name %>
        </h1>
        <div class="stats">
          <% if user_signed_in? %>
            <% if current_user.can_manage?(project) %>
              <%= link_to 'edit project', edit_project_path(project), class: 'btn btn-primary' %>
              <%= link_to 'delete project', project_path(project), data: { confirm: 'Are you sure? Deleting this project can not be undone!' }, method: :delete, class: 'btn btn-primary' %>
            <% end %>
            <% if current_user.follows?(@project) %>
              <%= link_to follow_path(current_user.follow_for(@project)), method: :delete, class: 'btn btn-danger btn-unfollow' do %>
                <i class="fa fa-times-circle-o"></i> unfollow
              <% end %>
            <% else %>
              <%= simple_form_for Follow.new(followable: project) do |f| %>
                <%= f.input :followable_id, as: :hidden %>
                <%= f.input :followable_type, as: :hidden %>
                <button type="submit" class="btn btn-success btn-follow">
                  <i class="fa fa-rss"></i> follow
                </button>
              <% end %>
            <% end %>
          <% else %>
            <%= simple_form_for Follow.new(followable: project) do |f| %>
              <%= f.input :followable_id, as: :hidden %>
              <%= f.input :followable_type, as: :hidden %>
              <button type="submit" class="btn btn-success btn-follow">
                <i class="fa fa-rss"></i> follow
              </button>
            <% end %>
          <% end %>
          <span class="follow-count"><%= project.followers.count %> followers</span>
        </div>
      </div>
    </div>
    <div class="project-summary page-lead-text">
        <div class="container">
          <%= project.summary %>
        </div>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12 project-details">
            <div class="well">
              <h3 class="text-muted">Recent Updates: <small class="pull-right"><%= link_to 'view all', project_updates_path(project), class: 'btn btn-info btn-sm' %></small></h3>
              <% if updates.any? %>
                <% updates.each_with_index do |update, i| %>
                  <% if i % 2 == 0 %>
                    <div class="updates updates-sm project-updates row">
                  <% end %>

                  <div id="update-<%= update.id %>" class="update project-update clearfix col-md-6">
                    <h4>Posted <%= time_ago_in_words(update.created_at) %> ago by <%= update.user.name %></h4>
                    <div class="update-content">
                      <%= link_to truncate(update.content_stripped, length: 150), update_path(update) %>
                    </div>
                    <div class="update-meta">
                      <i class="fa fa-comments"></i> <%= link_to "#{update.comments.count} comments", update_path(update) %>
                    </div>
                  </div>

                  <% if i % 2 == 1 || (update == updates.last && updates.count % 2 == 1) %>
                    </div>
                  <% end %>
                <% end %>
              <% else %>
                <em>No updates have been posted yet</em>
              <% end %>
            </div>

            <h3 class="text-muted">Details:</h3>
            <%= project.details %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h3 class="text-muted">Project by:</h3>
            <ul class="users project-users">
              <% project.users.each do |user| %>
                <li class="user project-user"><%= render 'users/avatar', user: user %> <%= link_to user.name, user_path(user) %></li>
              <% end %>
            </ul>
          </div>
          <div class="col-md-6">
            <% unless project.homepage.blank? %>
              <h3 class="text-muted">Links:</h3>
              <p>
                <i class="fa fa-globe"></i> <a href="<%= project.homepage %>"><%= project.homepage %></a>
              </p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <% if user_signed_in? && current_user.can_manage?(project) %>
          <div class="small-post-update-form clearfix">
            <h4>Post an update:</h4>
            <%= simple_form_for Update.new(user: current_user, updateable: project) do |f| %>
              <%= f.input :content, label: false %>
              <%= f.input :updateable_id, as: :hidden, value: project.id %>
              <%= f.input :updateable_type, as: :hidden, value: project.class.to_s %>
              <%= f.submit 'post update', class: 'btn btn-success pull-right' %>
            <% end %>
          </div>
        <% end %>
        <h4>Followers:</h4>
        <ul class="users project-users">
          <% project.followers.first(20).each do |user| %>
            <li class="user project-user"><%= render 'users/avatar', user: user %> <%= link_to user.name, user_path(user) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
