<div class="project">
  <div class="masthead">
    <div class="jumbotron">
      <div class="container">
        <h1 class="project-name">
          <%= project.name %>
        </h1>
        <div class="stats">
          <% if user_signed_in? %>
            <% if current_user.can_manage?(project) %>
              <%= link_to 'edit project', edit_project_path(project), class: 'btn btn-primary' %>
              <%= link_to 'delete project', project_path(project), data: { confirm: 'Are you sure? Deleting this project can not be undone!' }, method: :delete, class: 'btn btn-primary' %>
            <% end %>
            <% if current_user.follows?(@project) %>
              <%= link_to follow_path(current_user.follow_for(@project)), method: :delete, class: 'btn btn-danger btn-unfollow' do %>
                <i class="fa fa-times-circle-o"></i> unfollow
              <% end %>
            <% else %>
              <%= simple_form_for Follow.new(followable: project) do |f| %>
                <%= f.input :followable_id, as: :hidden %>
                <%= f.input :followable_type, as: :hidden %>
                <button type="submit" class="btn btn-success btn-follow">
                  <i class="fa fa-rss"></i> follow
                </button>
              <% end %>
            <% end %>
          <% end %>
          <span class="follow-count"><%= project.followers.count %> followers</span>
        </div>
      </div>
    </div>
    <div class="project-summary page-lead-text">
        <div class="container">
          <%= project.summary %>
        </div>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-md-8">
        <h2>Details:</h2>
        <%= project.details %>

        <h2>Recent Updates:</h2>
        <% if user_signed_in? && current_user.can_manage?(project) %>
          <div class="small-post-update-form clearfix">
            <h4>Post an update:</h4>
            <%= simple_form_for Update.new(user: current_user, updateable: project) do |f| %>
              <%= f.input :content, label: false %>
              <%= f.input :updateable_id, as: :hidden, value: project.id %>
              <%= f.input :updateable_type, as: :hidden, value: project.class.to_s %>
              <%= f.submit 'post update', class: 'btn btn-success pull-right' %>
            <% end %>
          </div>
        <% end %>
        <ul class="updates project-updates">
          <% project.updates.each do |update| %>
            <li id="update-<%= update.id %>" class="update project-update clearfix">
              <% if user_signed_in? && current_user.can_manage?(update) %>
                <div class="small-manage-controls update-actions pull-right">
                  <%= link_to edit_update_path(update), class: 'edit-update' do %><i class="fa fa-pencil"></i><% end %>
                  <%= link_to update_path(update), data: { confirm: 'Are you sure? Deleting this update can not be undone!' }, method: :delete, class: 'delete-update' do %><i class="fa fa-trash-o"></i><% end %>
                </div>
              <% end %>
              <h4>Posted <%= time_ago_in_words(update.created_at) %> ago by <%= update.user.name %></h4>
              <div class="update-content">
                <%= update.content %>
              </div>
              <div class="update-footer">
                <i class="fa fa-comments"></i> <%= update.comments.count %> comments.
                <button type="button" class="btn btn-plain" data-toggle="collapse" data-target="#post-comment-update-<%= update.id %>">Share your thoughts</button>
                <div class="post-comment collapse clearfix" id="post-comment-update-<%= update.id %>">
                  <%= simple_form_for Comment.new(user: current_user, commentable: update) do |f| %>
                    <%= f.input :commentable_id, as: :hidden, value: project.id %>
                    <%= f.input :commentable_type, as: :hidden, value: project.class.to_s %>
                    <%= f.input :content, label: false %>
                    <%= f.submit 'post comment', class: 'btn btn-success pull-right submit-comment' %>
                  <% end %>
                </div>
              </div>
              <div class="update-comments">
                <ul class="comments">
                  <% update.comments.each do |comment| %>
                    <li class="comment">
                      <h5><%= render 'users/avatar', user: comment.user %> <%= comment.user.name %> <span class="pull-right"><i class="fa fa-clock-o"></i> <%= time_ago_in_words comment.created_at %> ago</span></h5>
                      <%= comment.content %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-4">
        <% if project.homepage %>
          <h4>Homepage:</h4>
          <p>
            <i class="fa fa-globe"></i> <a href="<%= project.homepage %>"><%= project.homepage %></a>
          </p>
        <% end %>

        <h4>Project by:</h4>
        <ul class="users project-users">
          <% project.users.each do |user| %>
            <li class="user project-user"><%= render 'users/avatar', user: user %> <%= link_to user.name, user_path(user) %></li>
          <% end %>
        </ul>

        <h4>Followers:</h4>
        <ul class="users project-users">
          <% project.followers.first(20).each do |user| %>
            <li class="user project-user"><%= render 'users/avatar', user: user %> <%= link_to user.name, user_path(user) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
