<%
  show_comments = true if show_comments.nil?
%>

<div class="link clearfix">
  <div class="rate-link pull-left">
    <%= form_for link.ratings.build do |f| %>
      <%= f.hidden_field :ratable_id %>
      <%= f.hidden_field :ratable_type %>

      <%= f.button disabled: current_user.has_rated?(link.object) do %>
        <i class="fa fa-arrow-up"></i>
      <% end %>
    <% end %>
  </div>
  <div class="link-score pull-left">
    <%= link.score %>
  </div>
  <div class="link-data pull-left">
    <h4><%= link_to link.name, link.url, rel: 'nofollow' %></h4>

    <% if show_comments %>
      <small class="stats">
        <%= link_to link_path(link) do %>
          <i class="fa fa-comments"></i> <%= link.comments.count %> comments
        <% end %> - posted by <%= link.user.name %> - <%= link.domain %>
      </small>
    <% end %>
  </div>
</div>
