<div class="update">
  <div class="masthead">
    <div class="jumbotron">
      <div class="container">
        <h1 class="project-name">
          <%= link_to @project.name, polymorphic_path(@project) %> <small>updates</small>
        </h1>
        <div class="stats">
          <% if user_signed_in? %>
            <% if current_user.can_manage?(@project) %>
              <%= link_to 'edit project', edit_project_path(@project), class: 'btn btn-primary' %>
              <%= link_to 'delete project', project_path(@project), data: { confirm: 'Are you sure? Deleting this project can not be undone!' }, method: :delete, class: 'btn btn-primary' %>
            <% end %>
            <% if current_user.follows?(@project) %>
              <%= link_to follow_path(current_user.follow_for(@project)), method: :delete, class: 'btn btn-danger btn-unfollow' do %>
                <i class="fa fa-times-circle-o"></i> unfollow
              <% end %>
            <% else %>
              <%= simple_form_for Follow.new(followable: @project) do |f| %>
                <%= f.input :followable_id, as: :hidden %>
                <%= f.input :followable_type, as: :hidden %>
                <button type="submit" class="btn btn-success btn-follow">
                  <i class="fa fa-rss"></i> follow
                </button>
              <% end %>
            <% end %>
          <% end %>
          <span class="follow-count"><%= @project.followers.count %> followers</span>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <ul class="updates">
      <% updates.each do |update| %>
        <li id="update-<%= update.id %>" class="update project-update clearfix">
          <h4>Posted <%= time_ago_in_words(update.created_at) %> ago by <%= update.user.name %></h4>
          <div class="update-content">
            <%= update.content %>
          </div>
          <div class="update-meta">
            <i class="fa fa-comments"></i> <%= link_to "#{update.comments.count} comments", update_path(update) %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
