<div class="update">
  <div class="masthead">
    <div class="jumbotron">
      <div class="container">
        <h1 class="project-name pull-left">
          <%= link_to @project.name, polymorphic_path(@project) %> <small>updates</small>
        </h1>
        <div class="stats pull-right">
          <span class="follow-count"><%= @project.followers.count %> followers</span>

          <% if user_signed_in? && current_user.can_manage?(@project) %>
            <%= link_to 'edit project', edit_project_path(@project), class: 'btn btn-primary' %>
            <%= link_to 'delete project', project_path(@project), data: { confirm: 'Are you sure? Deleting this project can not be undone!' }, method: :delete, class: 'btn btn-primary' %>
          <% end %>

          <%= render 'shared/follow_button', followable: @project %>
        </div>
      </div>
    </div>
    <div class="breadcrumb-wrap">
      <div class="container">
        <ol class="breadcrumb">
          <li><%= link_to @project.name, polymorphic_path(@project) %></li>
          <li class="active">updates</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="container">
    <ul class="updates">
      <% updates.each do |update| %>
        <li id="update-<%= update.id %>" class="update project-update clearfix">
          <h4>Posted <%= time_ago_in_words(update.created_at) %> ago by <%= update.user.name %></h4>
          <div class="update-content">
            <%= update.content %>
          </div>
          <div class="update-meta">
            <i class="fa fa-comments"></i> <%= link_to "#{update.comments.count} comments", update_path(update) %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
