<div class="update">
  <div class="masthead">
    <div class="jumbotron">
      <div class="container">
        <h1 class="project-name pull-left">
          <%= link_to @decorated_update.updateable.name, polymorphic_path(@decorated_update.updateable) %>
        </h1>
        <div class="stats pull-right">
          <span class="follow-count"><%= @decorated_update.updateable.followers.count %> followers</span>

          <% if user_signed_in? && current_user.can_manage?(@decorated_update.updateable) %>
            <%= link_to 'edit project', edit_project_path(@decorated_update.updateable), class: 'btn btn-primary' %>
            <%= link_to 'delete project', project_path(@decorated_update.updateable), data: { confirm: 'Are you sure? Deleting this project can not be undone!' }, method: :delete, class: 'btn btn-primary' %>
          <% end %>

          <%= render 'shared/follow_button', followable: @decorated_update.updateable %>
        </div>
      </div>
    </div>
    <div class="breadcrumb-wrap">
      <div class="container">
        <ol class="breadcrumb">
          <li><%= link_to 'Projects', projects_path %></li>
          <li><%= link_to @decorated_update.updateable.name, polymorphic_path(@decorated_update.updateable) %></li>
          <li><%= link_to 'Updates', polymorphic_path([@decorated_update.updateable, :updates]) %></li>
          <li class="active">update from <%= time_ago_in_words(@decorated_update.created_at) %> ago</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="container">
    <% if user_signed_in? && current_user.can_manage?(@decorated_update) %>
      <div class="small-manage-controls update-actions pull-right">
        <%= link_to edit_update_path(@decorated_update), class: 'edit-update' do %><i class="fa fa-pencil"></i><% end %>
        <%= link_to update_path(@decorated_update), data: { confirm: 'Are you sure? Deleting this update can not be undone!' }, method: :delete, class: 'delete-update' do %><i class="fa fa-trash-o"></i><% end %>
      </div>
    <% end %>
    <h4>Posted <%= time_ago_in_words(@decorated_update.created_at) %> ago by <%= @decorated_update.user.name %></h4>
    <div class="update-content">
      <%= @decorated_update.content %>
    </div>
    <div class="update-footer">
      <i class="fa fa-comments"></i> <%= @decorated_update.comments.count %> comments.
      <button type="button" class="btn btn-plain" data-toggle="collapse" data-target="#post-comment-update-<%= @decorated_update.id %>">Share your thoughts</button>
      <div class="post-comment collapse clearfix" id="post-comment-update-<%= @decorated_update.id %>">
        <%= simple_form_for Comment.new(user: current_user, commentable: @decorated_update) do |f| %>
          <%= f.input :commentable_id, as: :hidden %>
          <%= f.input :commentable_type, as: :hidden %>
          <%= f.input :content, label: false %>
          <%= f.submit 'post comment', class: 'btn btn-success pull-right submit-comment' %>
        <% end %>
      </div>
    </div>
    <div class="update-comments">
      <ul class="comments">
        <% @decorated_update.comments.each do |comment| %>
          <li class="comment">
            <h5>
              <%= render 'users/avatar', user: comment.user %> <%= comment.user.name %>
              <% if user_signed_in? && current_user.can_manage?(comment) %>
                <span class="small-manage-controls comment-actions pull-right">
                  <%= link_to edit_comment_path(comment), class: 'edit-comment' do %><i class="fa fa-pencil"></i><% end %>
                  <%= link_to comment_path(comment), data: { confirm: 'Are you sure? Deleting this comment can not be undone!' }, method: :delete, class: 'delete-comment' do %><i class="fa fa-trash-o"></i><% end %>
                </span>
              <% end %>
              <span class="pull-right text-muted"><i class="fa fa-clock-o"></i> <%= time_ago_in_words comment.created_at %> ago</span></h5>
            <%= comment.content %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
