<div class="update">
  <div class="masthead">
    <div class="jumbotron">
      <div class="container">
        <h1 class="project-name pull-left">
          <%= link_to @decorated_update.updateable.name, polymorphic_path(@decorated_update.updateable) %>
        </h1>
        <div class="stats pull-right">
          <span class="follow-count"><%= @decorated_update.updateable.followers.count %> followers</span>

          <% if user_signed_in? && current_user.can_manage?(@decorated_update.updateable) %>
            <%= link_to 'edit project', edit_project_path(@decorated_update.updateable), class: 'btn btn-primary' %>
            <%= link_to 'delete project', project_path(@decorated_update.updateable), data: { confirm: 'Are you sure? Deleting this project can not be undone!' }, method: :delete, class: 'btn btn-primary' %>
          <% end %>

          <%= render 'shared/follow_button', followable: @decorated_update.updateable %>
        </div>
      </div>
    </div>
    <div class="breadcrumb-wrap">
      <div class="container">
        <ol class="breadcrumb">
          <li><%= link_to 'Projects', projects_path %></li>
          <li><%= link_to @decorated_update.updateable.name, polymorphic_path(@decorated_update.updateable) %></li>
          <li><%= link_to 'Updates', polymorphic_path([@decorated_update.updateable, :updates]) %></li>
          <li class="active">update from <%= time_ago_in_words(@decorated_update.created_at) %> ago</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="container">
    <% if user_signed_in? && current_user.can_manage?(@decorated_update) %>
      <div class="small-manage-controls update-actions pull-right">
        <%= link_to edit_update_path(@decorated_update), class: 'edit-update' do %><i class="fa fa-pencil"></i><% end %>
        <%= link_to update_path(@decorated_update), data: { confirm: 'Are you sure? Deleting this update can not be undone!' }, method: :delete, class: 'delete-update' do %><i class="fa fa-trash-o"></i><% end %>
      </div>
    <% end %>

    <h4>Posted <%= time_ago_in_words(@decorated_update.created_at) %> ago by <%= @decorated_update.user.name %></h4>
    <div class="update-content">
      <%= @decorated_update.content %>
    </div>

    <%= render 'comments/bar', commentable: @decorated_update %>

    <div class="update-comments">
      <%= render 'comments/list', commentable: @decorated_update %>
    </div>
  </div>
</div>
